body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60%;
    align-items: center;
    justify-content: center;
}

#logintext {
    display: block;
    width: 250px;
    padding: 20px 10px;
    margin: 0;
    border: none;
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px;
    margin-top: 30px;
}

#email {
    display: block;
    width: 250px;
    padding: 20px 10px;
    margin: 0;
    border: none;
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px;
}

#pwd {
    display: block;
    width: 250px;
    padding: 20px 10px;
    margin: 0;
    border: none;
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px;
}

#submit {
    display: block;
    width: 270px;
    padding: 20px 10px;
    margin: 0;
    border: none;
    background-color: rgb(0, 190, 13);
    color: white;
}

#submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

#submit:active {
    background-color: green;

}